<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #53783b;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h1 id = "title"
        style = "padding: 13px; 
                 text-align:center;
                 color: White;
                 font-size: 25px;
                 font-weight: bold;
                 font-family: Cambria;">Avocado Demand Forecast: Boost Sales & Profit
        <a class="anchor-link" id="title" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#title">¶</a>
    </h1>
</div>

![WIRED - The Long, Lonely Quest to Breed the Ultimate Avocado](https://media.wired.com/photos/592688b67034dc5f91bebc42/191:100/w_1280,c_limit/avocado-109231343.jpg)

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #53783b;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h1 id = "table-of-content"
        style = "padding: 13px; 
                 text-align:center;
                 color: White;
                 font-size: 25px;
                 font-weight: bold;
                 font-family: Cambria;">Table of Content
        <a class="anchor-link" id="table-of-content" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#table-of-content">¶</a>
    </h1>
</div>

<ul style="font-size: 15px; font-family: Cambria;">
    <li><a href="#title">Avocado Demand Forecast: Boost Sales & Profit</a></li>
    <li><a href="#table-of-content">Table of Content</a></li>
    <li><a href="#preparation">1. Preparation</a></li>
    <ul>
        <li><a href="#import-libraries">1.1. Import Libraries</a></li>
        <li><a href="#data-loading">1.2. Data Loading</a></li>
        <li><a href="#region-filtering">1.3. Region Filtering</a></li>
    </ul>
    <li><a href="#feature-engineering">2. Feature Engineering</a></li>
    <ul>
        <li><a href="#weight-average">2.1. Weight Average</a></li>
        <li><a href="#cost-price">2.2. Cost Price for Each Year</a></li>
        <li><a href="#datetime-features">2.3. Datetime Features</a></li>
        <li><a href="#merging-all-data">2.4. Merging All Data</a></li>
        <li><a href="#data-splitting">2.5. Data Splitting</a></li>
        <li><a href="#categorical-encoding">2.6. Categorical Encoding</a></li>
    </ul>
    <li><a href="#demand-forecasting">3. Demand Forecasting</a></li>
    <ul>
        <li><a href="#polynomial-lasso">3.1. Polynomial Regression and Lasso</a></li>
        <li><a href="#r2-scores-region">3.2. R2 Scores for Each Region</a></li>
        <li><a href="#feature-importance">3.3. Feature Importance</a></li>
        <li><a href="#linearity">3.4. Linearity</a></li>
        <li><a href="#residual-plot">3.5. Residual Plot</a></li>
    </ul>
    <li><a href="#price-optimization">4. Price Optimization</a></li>
    <ul>
        <li><a href="#optimal-price">4.1. Finding Out Optimal Price</a></li>
        <li><a href="#visualizations">4.2. Visualizations</a></li>
    </ul>
    <li><a href="#notes">Notes</a></li>
    <li><a href="#references">References</a></li>
</ul>

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #53783b;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h1 id = "preparation"
        style = "padding: 13px; 
                 text-align:center;
                 color: White;
                 font-size: 25px;
                 font-weight: bold;
                 font-family: Cambria;">1. Preparation
        <a class="anchor-link" id="preparation" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#preparation">¶</a>
    </h1>
</div>

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "import-libaries"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">1.1. Import Libraries
        <a class="anchor-link" id="import-libaries" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#import-libaries">¶</a>
    </h2>
</div>

In [1]:
import numpy as np
import pandas as pd
import datetime

import matplotlib
import plotly
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

from sklearn.linear_model import LinearRegression, Lasso
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
def adjusted_r2_score(y_test, y_pred, n, p):
    score = r2_score(y_test, y_pred)
    return 1 - (1 - score) * (n - 1) / (n - p - 1)

import warnings
warnings.filterwarnings("ignore")

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "data-loading"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">1.2. Data Loading
        <a class="anchor-link" id="data-loading" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#data-loading">¶</a>
    </h2>
</div>

In [2]:
df_avocado = pd.read_csv("/kaggle/input/avocado-prices/avocado.csv", usecols=range(1, 14))
df_avocado

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "region-filtering"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">1.3. Region Filtering
        <a class="anchor-link" id="region-filtering" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#region-filtering">¶</a>
    </h2>
</div>

In [3]:
region_name = ["West", "California", "SouthCentral", "Northeast", "Southeast", "GreatLakes", "Midsouth", "Plains"]
df_avocado = df_avocado[df_avocado["region"].isin(region_name)].reset_index(drop=True)

display(df_avocado)
df_avocado["region"].value_counts()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,0.90,5040365.47,1833946.59,1760956.02,232755.85,1212707.01,1090140.07,110737.35,11829.59,conventional,2015,California
1,2015-12-20,0.94,4695737.21,1676601.43,1543280.76,266689.82,1209165.20,1061703.58,136747.10,10714.52,conventional,2015,California
2,2015-12-13,0.87,5259354.30,1806690.08,1627240.76,232985.13,1592438.33,1404012.00,180150.37,8275.96,conventional,2015,California
3,2015-12-06,0.78,5775536.27,1943065.50,2100246.17,221957.26,1510267.34,1376640.91,126664.37,6962.06,conventional,2015,California
4,2015-11-29,0.91,4575710.62,1461699.38,1810202.70,222311.07,1081497.47,991568.84,82338.39,7590.24,conventional,2015,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,2018-02-04,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,2018,West
2700,2018-01-28,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,2018,West
2701,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West
2702,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West
2703,2018-01-07,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,2018,West

California      338
GreatLakes      338
Midsouth        338
Northeast       338
Plains          338
SouthCentral    338
Southeast       338
West            338
Name: region, dtype: int64

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #53783b;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h1 id = "feature-engineering"
        style = "padding: 13px; 
                 text-align:center;
                 color: White;
                 font-size: 25px;
                 font-weight: bold;
                 font-family: Cambria;">2. Feature Engineering
        <a class="anchor-link" id="feature-engineering" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#feature-engineering">¶</a>
    </h1>
</div>

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "weight-average"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">2.1. Weight Average
        <a class="anchor-link" id="weight-average" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#weight-average">¶</a>
    </h2>
</div>

In [4]:
df_avocado["Hash_Others_Volume"] = df_avocado["4046"] + df_avocado["4225"] + df_avocado["4770"] + df_avocado["Total Bags"]
df_price_volume = df_avocado[["AveragePrice", "Total Volume", "4046", "4225", "4770", "Total Bags", "Small Bags", "Large Bags", "XLarge Bags", "year", "Hash_Others_Volume"]]
df_price_volume

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year,Hash_Others_Volume
0,0.90,5040365.47,1833946.59,1760956.02,232755.85,1212707.01,1090140.07,110737.35,11829.59,2015,5040365.47
1,0.94,4695737.21,1676601.43,1543280.76,266689.82,1209165.20,1061703.58,136747.10,10714.52,2015,4695737.21
2,0.87,5259354.30,1806690.08,1627240.76,232985.13,1592438.33,1404012.00,180150.37,8275.96,2015,5259354.30
3,0.78,5775536.27,1943065.50,2100246.17,221957.26,1510267.34,1376640.91,126664.37,6962.06,2015,5775536.27
4,0.91,4575710.62,1461699.38,1810202.70,222311.07,1081497.47,991568.84,82338.39,7590.24,2015,4575710.62
...,...,...,...,...,...,...,...,...,...,...,...
2699,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,2018,283378.47
2700,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,2018,185974.53
2701,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,2018,189317.99
2702,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,2018,207999.67
2703,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,2018,297190.60

In [5]:
# Hash Avocados  : Small -> 4 oz, Large -> 9 oz, Extra Large -> 12.5 oz
# Other Avocados : Small -> 5 oz, Large -> 10 oz, Extra Large -> 16 oz
df_price_volume["Weight_Average_(oz)"] = (df_price_volume["4046"] * 4 + df_price_volume["4225"] * 9 + \
                                         df_price_volume["4770"] * 12.5 + df_price_volume["Small Bags"] * 5 + \
                                         df_price_volume["Large Bags"] * 10 + df_price_volume["XLarge Bags"] * 16) / df_price_volume["Hash_Others_Volume"]
df_price_volume

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year,Hash_Others_Volume,Weight_Average_(oz)
0,0.90,5040365.47,1833946.59,1760956.02,232755.85,1212707.01,1090140.07,110737.35,11829.59,2015,5040365.47,6.515636
1,0.94,4695737.21,1676601.43,1543280.76,266689.82,1209165.20,1061703.58,136747.10,10714.52,2015,4695737.21,6.554237
2,0.87,5259354.30,1806690.08,1627240.76,232985.13,1592438.33,1404012.00,180150.37,8275.96,2015,5259354.30,6.414898
3,0.78,5775536.27,1943065.50,2100246.17,221957.26,1510267.34,1376640.91,126664.37,6962.06,2015,5775536.27,6.529296
4,0.91,4575710.62,1461699.38,1810202.70,222311.07,1081497.47,991568.84,82338.39,7590.24,2015,4575710.62,6.735606
...,...,...,...,...,...,...,...,...,...,...,...,...
2699,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,2018,283378.47,8.101566
2700,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,2018,185974.53,6.995155
2701,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,2018,189317.99,6.968859
2702,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,2018,207999.67,6.658301
2703,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,2018,297190.60,7.342965

In [6]:
# Weight Average
weight_average = df_price_volume["Weight_Average_(oz)"].sum() / df_price_volume["Weight_Average_(oz)"].count()
weight_average

6.764564899614697

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "cost-price"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">2.2. Cost Price for Each Year
        <a class="anchor-link" id="cost-price" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#cost-price">¶</a>
    </h2>
</div>

In [7]:
# 2015 -> $2.72/kg, 2016 -> $3.13/kg, 2017 -> $3.82/kg
df_year_price = pd.DataFrame({"year": [2015, 2016, 2017], "cost_price_(kg)": [2.72, 3.13, 3.82]})

# 1 kg -> 35.274 oz
df_year_price["cost_price_(unit)"] = df_year_price["cost_price_(kg)"] * weight_average / 35.274

df_year_price

   year  cost_price_(kg)  cost_price_(unit)
0  2015             2.72           0.521620
1  2016             3.13           0.600246
2  2017             3.82           0.732569

In [8]:
# Cost Price Unit Estimation in 2018
X = df_year_price['year'].values.reshape(-1, 1)
y = df_year_price['cost_price_(kg)']

reg = LinearRegression().fit(X, y)

price_2018 = reg.predict([[2018]])
print("Estimated Cost Price in 2018:", price_2018[0])

weight_average_unit_2018 = price_2018[0] * weight_average / 35.274
df_year_price.loc[3, :] = [2018, price_2018[0], weight_average_unit_2018]

print("Weight Average Unit 2018:", weight_average_unit_2018)
df_year_price

Estimated Cost Price in 2018: 4.323333333333267
Weight Average Unit 2018: 0.8290942029823786

     year  cost_price_(kg)  cost_price_(unit)
0  2015.0         2.720000           0.521620
1  2016.0         3.130000           0.600246
2  2017.0         3.820000           0.732569
3  2018.0         4.323333           0.829094

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "datetime-features"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">2.3. Datetime Features
        <a class="anchor-link" id="datetime-features" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#datetime-features">¶</a>
    </h2>
</div>

In [9]:
# Datetime Features
df_date = pd.DataFrame({"date": df_avocado["Date"].unique()})
df_date = df_date.sort_values(by="date").reset_index(drop=True)
df_date['date'] = pd.to_datetime(df_date['date'])
df_date['month'] = df_date['date'].dt.month
df_date['weekofyear'] = df_date['date'].dt.weekofyear
df_date['quarter'] = df_date['date'].dt.quarter

df_date

          date  month  weekofyear  quarter
0   2015-01-04      1           1        1
1   2015-01-11      1           2        1
2   2015-01-18      1           3        1
3   2015-01-25      1           4        1
4   2015-02-01      2           5        1
..         ...    ...         ...      ...
164 2018-02-25      2           8        1
165 2018-03-04      3           9        1
166 2018-03-11      3          10        1
167 2018-03-18      3          11        1
168 2018-03-25      3          12        1

[169 rows x 4 columns]

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "merging-all-data"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">2.4. Merging All Data
        <a class="anchor-link" id="merging-all-data" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#merging-all-data">¶</a>
    </h2>
</div>

In [10]:
df_avocado_used = df_avocado[["region", "type", "Date", "AveragePrice", "Hash_Others_Volume", "year"]]
df_avocado_used['Date'] = pd.to_datetime(df_avocado_used['Date'])
df_avocado_used = df_avocado_used.sort_values(by=["region", "type", "Date"], ascending=True).reset_index(drop=True)
df_avocado_used = df_avocado_used.merge(df_year_price, left_on="year", right_on="year")
df_avocado_used = df_avocado_used.merge(df_date, left_on="Date", right_on="date")
df_avocado_used = df_avocado_used.drop("Date", axis=1)
df_avocado_used = df_avocado_used[["region", "type", "date", "year", "month", "weekofyear", "quarter", "AveragePrice", "Hash_Others_Volume", "cost_price_(kg)", "cost_price_(unit)"]]
df_avocado_used = df_avocado_used.rename(columns={"Hash_Others_Volume": "Volume"})
df_avocado_used["Profit"] = (df_avocado_used["AveragePrice"] - df_avocado_used["cost_price_(unit)"]) * df_avocado_used["Volume"]
df_avocado_used

,region,type,date,year,month,weekofyear,quarter,AveragePrice,Volume,cost_price_(kg),cost_price_(unit),Profit
0,California,conventional,2015-01-04,2015,1,1,1,0.93,5777334.90,2.720000,0.521620,2.359349e+06
1,California,organic,2015-01-04,2015,1,1,1,1.24,142349.77,2.720000,0.521620,1.022613e+05
2,GreatLakes,conventional,2015-01-04,2015,1,1,1,1.02,3382800.12,2.720000,0.521620,1.685921e+06
3,GreatLakes,organic,2015-01-04,2015,1,1,1,1.54,61615.10,2.720000,0.521620,6.274760e+04
4,Midsouth,conventional,2015-01-04,2015,1,1,1,1.10,2578275.12,2.720000,0.521620,1.491223e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
2699,SouthCentral,organic,2018-03-25,2018,3,12,1,1.42,163496.70,4.323333,0.829094,9.661115e+04
2700,Southeast,conventional,2018-03-25,2018,3,12,1,1.23,4454904.40,4.323333,0.829094,1.785997e+06
2701,Southeast,organic,2018-03-25,2018,3,12,1,1.45,121917.39,4.323333,0.829094,7.569921e+04
2702,West,conventional,2018-03-25,2018,3,12,1,0.93,7667064.46,4.323333,0.829094,7.736513e+05
2703,West,organic,2018-03-25,2018,3,12,1,1.60,271723.08,4.323333,0.829094,2.094729e+05

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "data-splitting"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">2.5. Data Splitting
        <a class="anchor-link" id="data-splitting" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#data-splitting">¶</a>
    </h2>
</div>

In [11]:
df_train = df_avocado_used[df_avocado_used["year"] < 2018].reset_index(drop=True)
df_test = df_avocado_used[df_avocado_used["year"] >= 2018].reset_index(drop=True)

print("Train Dataset")
display(df_train)

print("Test Dataset")
display(df_test)

Train Dataset

,region,type,date,year,month,weekofyear,quarter,AveragePrice,Volume,cost_price_(kg),cost_price_(unit),Profit
0,California,conventional,2015-01-04,2015,1,1,1,0.93,5777334.90,2.72,0.521620,2.359349e+06
1,California,organic,2015-01-04,2015,1,1,1,1.24,142349.77,2.72,0.521620,1.022613e+05
2,GreatLakes,conventional,2015-01-04,2015,1,1,1,1.02,3382800.12,2.72,0.521620,1.685921e+06
3,GreatLakes,organic,2015-01-04,2015,1,1,1,1.54,61615.10,2.72,0.521620,6.274760e+04
4,Midsouth,conventional,2015-01-04,2015,1,1,1,1.10,2578275.12,2.72,0.521620,1.491223e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
2507,SouthCentral,organic,2017-12-31,2017,12,52,4,1.41,115959.77,3.82,0.732569,7.855475e+04
2508,Southeast,conventional,2017-12-31,2017,12,52,4,1.08,4651107.62,3.82,0.732569,1.615939e+06
2509,Southeast,organic,2017-12-31,2017,12,52,4,1.40,92000.75,3.82,0.732569,6.140416e+04
2510,West,conventional,2017-12-31,2017,12,52,4,0.94,6330634.55,3.82,0.732569,1.313170e+06
2511,West,organic,2017-12-31,2017,12,52,4,1.48,229477.07,3.82,0.732569,1.715183e+05

Test Dataset

,region,type,date,year,month,weekofyear,quarter,AveragePrice,Volume,cost_price_(kg),cost_price_(unit),Profit
0,California,conventional,2018-01-07,2018,1,1,1,1.19,5756632.36,4.323333,0.829094,2.077602e+06
1,California,organic,2018-01-07,2018,1,1,1,1.95,156341.57,4.323333,0.829094,1.752442e+05
2,GreatLakes,conventional,2018-01-07,2018,1,1,1,1.11,4123104.83,4.323333,0.829094,1.158204e+06
3,GreatLakes,organic,2018-01-07,2018,1,1,1,1.40,224547.43,4.323333,0.829094,1.281954e+05
4,Midsouth,conventional,2018-01-07,2018,1,1,1,1.20,3437632.80,4.323333,0.829094,1.275038e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
187,SouthCentral,organic,2018-03-25,2018,3,12,1,1.42,163496.70,4.323333,0.829094,9.661115e+04
188,Southeast,conventional,2018-03-25,2018,3,12,1,1.23,4454904.40,4.323333,0.829094,1.785997e+06
189,Southeast,organic,2018-03-25,2018,3,12,1,1.45,121917.39,4.323333,0.829094,7.569921e+04
190,West,conventional,2018-03-25,2018,3,12,1,0.93,7667064.46,4.323333,0.829094,7.736513e+05
191,West,organic,2018-03-25,2018,3,12,1,1.60,271723.08,4.323333,0.829094,2.094729e+05

In [12]:
train_features = df_train[["region", "type", "year", "month", "weekofyear", "quarter", "AveragePrice"]]
test_features = df_test[["region", "type", "year", "month", "weekofyear", "quarter", "AveragePrice"]]

train_labels = df_train["Volume"]
test_labels = df_test["Volume"]

display(train_features)
display(test_features)

,region,type,year,month,weekofyear,quarter,AveragePrice
0,California,conventional,2015,1,1,1,0.93
1,California,organic,2015,1,1,1,1.24
2,GreatLakes,conventional,2015,1,1,1,1.02
3,GreatLakes,organic,2015,1,1,1,1.54
4,Midsouth,conventional,2015,1,1,1,1.10
...,...,...,...,...,...,...,...
2507,SouthCentral,organic,2017,12,52,4,1.41
2508,Southeast,conventional,2017,12,52,4,1.08
2509,Southeast,organic,2017,12,52,4,1.40
2510,West,conventional,2017,12,52,4,0.94
2511,West,organic,2017,12,52,4,1.48

,region,type,year,month,weekofyear,quarter,AveragePrice
0,California,conventional,2018,1,1,1,1.19
1,California,organic,2018,1,1,1,1.95
2,GreatLakes,conventional,2018,1,1,1,1.11
3,GreatLakes,organic,2018,1,1,1,1.40
4,Midsouth,conventional,2018,1,1,1,1.20
...,...,...,...,...,...,...,...
187,SouthCentral,organic,2018,3,12,1,1.42
188,Southeast,conventional,2018,3,12,1,1.23
189,Southeast,organic,2018,3,12,1,1.45
190,West,conventional,2018,3,12,1,0.93
191,West,organic,2018,3,12,1,1.60

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "categorical-encoding"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">2.6. Categorical Encoding
        <a class="anchor-link" id="categorical-encoding" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#categorical-encoding">¶</a>
    </h2>
</div>

In [13]:
categorical_features = ["region", "type"]

df_category = pd.get_dummies(data=train_features[categorical_features])
train_features = pd.concat([train_features, df_category], axis=1)
train_features = train_features.drop(categorical_features, axis=1)

df_category = pd.get_dummies(data=test_features[categorical_features])
test_features = pd.concat([test_features, df_category], axis=1)
test_features = test_features.drop(categorical_features, axis=1)

display(train_features)
display(test_features)

,year,month,weekofyear,quarter,AveragePrice,region_California,region_GreatLakes,region_Midsouth,region_Northeast,region_Plains,region_SouthCentral,region_Southeast,region_West,type_conventional,type_organic
0,2015,1,1,1,0.93,1,0,0,0,0,0,0,0,1,0
1,2015,1,1,1,1.24,1,0,0,0,0,0,0,0,0,1
2,2015,1,1,1,1.02,0,1,0,0,0,0,0,0,1,0
3,2015,1,1,1,1.54,0,1,0,0,0,0,0,0,0,1
4,2015,1,1,1,1.10,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507,2017,12,52,4,1.41,0,0,0,0,0,1,0,0,0,1
2508,2017,12,52,4,1.08,0,0,0,0,0,0,1,0,1,0
2509,2017,12,52,4,1.40,0,0,0,0,0,0,1,0,0,1
2510,2017,12,52,4,0.94,0,0,0,0,0,0,0,1,1,0
2511,2017,12,52,4,1.48,0,0,0,0,0,0,0,1,0,1

,year,month,weekofyear,quarter,AveragePrice,region_California,region_GreatLakes,region_Midsouth,region_Northeast,region_Plains,region_SouthCentral,region_Southeast,region_West,type_conventional,type_organic
0,2018,1,1,1,1.19,1,0,0,0,0,0,0,0,1,0
1,2018,1,1,1,1.95,1,0,0,0,0,0,0,0,0,1
2,2018,1,1,1,1.11,0,1,0,0,0,0,0,0,1,0
3,2018,1,1,1,1.40,0,1,0,0,0,0,0,0,0,1
4,2018,1,1,1,1.20,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2018,3,12,1,1.42,0,0,0,0,0,1,0,0,0,1
188,2018,3,12,1,1.23,0,0,0,0,0,0,1,0,1,0
189,2018,3,12,1,1.45,0,0,0,0,0,0,1,0,0,1
190,2018,3,12,1,0.93,0,0,0,0,0,0,0,1,1,0
191,2018,3,12,1,1.60,0,0,0,0,0,0,0,1,0,1

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #53783b;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h1 id = "demand-forecasting"
        style = "padding: 13px; 
                 text-align:center;
                 color: White;
                 font-size: 25px;
                 font-weight: bold;
                 font-family: Cambria;">3. Demand Forecasting
        <a class="anchor-link" id="demand-forecasting" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#demand-forecasting">¶</a>
    </h1>
</div>

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "polynomial-lasso"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">3.1. Polynomial Regression and Lasso
        <a class="anchor-link" id="polynomial-lasso" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#polynomial-lasso">¶</a>
    </h2>
</div>

In [14]:
poly = PolynomialFeatures(degree=2, interaction_only=True, include_bias=False)
train_features_poly = poly.fit_transform(train_features)
test_features_poly = poly.transform(test_features)

lr_poly_model = Lasso()
lr_poly_model.fit(train_features_poly, train_labels)

test_pred = lr_poly_model.predict(test_features_poly)

n = test_features_poly.shape[0]
p = test_features_poly.shape[1]

mse = mean_squared_error(test_labels, test_pred)
rmse = mean_squared_error(test_labels, test_pred, squared=False)
mae = mean_absolute_error(test_labels, test_pred)
r2 = r2_score(test_labels, test_pred)
adj_r2 = adjusted_r2_score(test_labels, test_pred, n, p)

print("Metric Scores")
print("MSE    :", mse)
print("RMSE   :", rmse)
print("MAE    :", mae)
print("R2     :", r2)
print("Adj R2 :", adj_r2)

Metric Scores
MSE    : 422531833754.6037
RMSE   : 650024.4870422988
MAE    : 373082.0133387002
R2     : 0.9496761131515233
Adj R2 : 0.8646216565062107

In [15]:
# Column Name
feature_columns = test_features.columns.tolist()
poly_columns = feature_columns.copy()
for i in range(len(feature_columns)):
    for j in range(i+1, len(feature_columns)):
        poly_columns.append("{}_{}".format(feature_columns[i], feature_columns[j]))

train_features_poly = pd.DataFrame(train_features_poly)
train_features_poly.columns = poly_columns
test_features_poly = pd.DataFrame(test_features_poly)
test_features_poly.columns = poly_columns

test_features_poly

,year,month,weekofyear,quarter,AveragePrice,region_California,region_GreatLakes,region_Midsouth,region_Northeast,region_Plains,...,region_SouthCentral_region_Southeast,region_SouthCentral_region_West,region_SouthCentral_type_conventional,region_SouthCentral_type_organic,region_Southeast_region_West,region_Southeast_type_conventional,region_Southeast_type_organic,region_West_type_conventional,region_West_type_organic,type_conventional_type_organic
0,2018.0,1.0,1.0,1.0,1.19,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018.0,1.0,1.0,1.0,1.95,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018.0,1.0,1.0,1.0,1.11,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018.0,1.0,1.0,1.0,1.40,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018.0,1.0,1.0,1.0,1.20,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2018.0,3.0,12.0,1.0,1.42,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
188,2018.0,3.0,12.0,1.0,1.23,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
189,2018.0,3.0,12.0,1.0,1.45,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
190,2018.0,3.0,12.0,1.0,0.93,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
191,2018.0,3.0,12.0,1.0,1.60,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
test_results = pd.DataFrame({"Actual": test_labels, "Predicted": test_pred})
test_results

         Actual     Predicted
0    5756632.36  6.148769e+06
1     156341.57  6.898063e+03
2    4123104.83  3.958294e+06
3     224547.43  3.007176e+05
4    3437632.80  3.358004e+06
..          ...           ...
187   163496.70  4.766603e+05
188  4454904.40  3.854502e+06
189   121917.39  4.700915e+05
190  7667064.46  7.024803e+06
191   271723.08  5.971861e+05

[192 rows x 2 columns]

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "r2-scores-region"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">3.2. R2 Scores for Each Region
        <a class="anchor-link" id="r2-scores-region" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#r2-scores-region">¶</a>
    </h2>
</div>

In [17]:
list_region_r2_scores = []
for region in region_name:
    region_test_features = test_features_poly[test_features_poly["region_{}".format(region)]==1]
    index_region = region_test_features.index.tolist()
    region_test_labels = test_labels.loc[test_labels.index.isin(index_region)]
    region_test_preds = lr_poly_model.predict(region_test_features)
    
    region_r2 = r2_score(region_test_labels, region_test_preds)
    list_region_r2_scores.append(region_r2)
#     print(region)
#     print("R2 Scores:", region_r2)
    
df_region_r2 = pd.DataFrame()
df_region_r2["Region"] = region_name
df_region_r2["R2 Scores"] = list_region_r2_scores
df_region_r2 = df_region_r2.sort_values(by="R2 Scores", ascending=True).reset_index(drop=True)
df_region_r2

         Region  R2 Scores
0     Southeast   0.902628
1     Northeast   0.928782
2    GreatLakes   0.935987
3  SouthCentral   0.943361
4          West   0.957086
5    California   0.957447
6      Midsouth   0.962379
7        Plains   0.966796

In [18]:
# Create Figure
fig = go.Figure()

# Color
cmap = matplotlib.colors.LinearSegmentedColormap.from_list("", ["#fcdb7e","#b3c656", "#7b964a", "#53783b"])
colors = []
for i in range(8):
    color = cmap(i/7)
    color = matplotlib.colors.rgb2hex(color)
    colors.append(color)

# Bar Chart
fig.add_trace(
    go.Bar(
        x=df_region_r2["R2 Scores"],
        y=[1, 2, 3, 4, 5, 6, 7, 8],
        orientation='h',
        marker_color=colors,
        name="R2 Scores"
    )
)

fig.add_trace(
    go.Bar(
        x=[1.0] * 8,
        y=[1, 2, 3, 4, 5, 6, 7, 8],
        orientation='h',
        marker_color="#e6e6e6",
        hoverinfo='skip',
    )
)

# Update Axes
fig.update_xaxes(title_text="", range=[0.0, 1.0], showticklabels=True, showgrid=False, ticks="outside", linecolor="Black")
fig.update_yaxes(title_text="", showgrid=False, 
             tickmode='array', tickvals=[1, 2, 3, 4, 5, 6, 7, 8], ticktext=df_region_r2["Region"])

# Update Layout
fig.update_layout(
    title="R2 Scores for Each Region", title_x=0.5, font_family="Cambria", font_size=14,
    width=900, height=450,
    showlegend=False,
    plot_bgcolor="White",
    barmode="stack", bargap=0.45,
    margin=dict(
        pad=10
    )
)

# Show
fig.show(renderer="iframe_connected")

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "feature-importance"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">3.3. Feature Importance
        <a class="anchor-link" id="feature-importance" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#feature-importance">¶</a>
    </h2>
</div>

In [19]:
# Create DataFrame
df_importance = pd.DataFrame()
df_importance["Features"] = test_features_poly.columns
df_importance["Importance"] = lr_poly_model.coef_
df_importance = df_importance.sort_values(by="Importance", ascending=False).reset_index(drop=True)
df_importance_neg = df_importance[-10:].reset_index(drop=True)
df_importance_pos = df_importance[:10].sort_values(by="Importance", ascending=True).reset_index(drop=True)

# Create Subplots
fig = make_subplots(
    rows=1, cols=2, 
    subplot_titles=["Negative", "Positive"],
    horizontal_spacing=0.07
)

# Negative
fig.add_trace(
    go.Bar(
        x=df_importance_neg["Importance"],
        y=df_importance_neg["Features"],
        orientation="h",
        name="Negative",
        marker_color="#b3c656",
        width=0.6
    ), row=1, col=1
)

# Positive
fig.add_trace(
    go.Bar(
        x=df_importance_pos["Importance"],
        y=df_importance_pos["Features"],
        orientation="h",
        name="Positive",
        marker_color="#53783b",
        width=0.6
    ), row=1, col=2
)

fig.layout.annotations[0].update(y=1.03)
fig.layout.annotations[1].update(y=1.03)

# Annotations
for i in range(10):
    fig.add_annotation(
        x=df_importance_neg["Importance"][i], y=df_importance_neg["Features"][i], 
        xref="x1", yref="y1", xanchor="right",
        text="<b>{}</b>".format(df_importance_neg["Features"][i]),
        font=dict(
            color="#b3c656",
            size=10,
        ),
        showarrow=False
    )
    
    fig.add_annotation(
        x=df_importance_pos["Importance"][i], y=df_importance_pos["Features"][i], 
        xref="x2", yref="y2", xanchor="left",
        text="<b>{}</b>".format(df_importance_pos["Features"][i]),
        font=dict(
            color="#53783b",
            size=10,
        ),
        showarrow=False
    )

# Update Axes
fig.update_xaxes(showticklabels=False, row=1, col=1)
fig.update_xaxes(showticklabels=False, row=1, col=2)
fig.update_yaxes(showticklabels=False, row=1, col=1)
fig.update_yaxes(showticklabels=False, row=1, col=2)

# Update Layout
fig.update_layout(
    title="Top 10 Feature Importance", title_x=0.5, title_y=0.975,
    font_family="Cambria", font_size=12,
    width=1000, height=600,
    plot_bgcolor="White",
    showlegend=False
)

# Show
fig.show(renderer="iframe_connected")

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "linearity"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">3.4. Linearity
        <a class="anchor-link" id="linearity" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#linearity">¶</a>
    </h2>
</div>

In [20]:
# Create Figure
fig = go.Figure()

# Scatter Plot
fig.add_trace(
    go.Scatter(
        x=test_results["Actual"],
        y=test_results["Predicted"],
        mode="markers",
        marker=dict(
            color="#b3c656",
            size=8
        ),
        name="Predicted"
    )
)

fig.add_trace(
    go.Scatter(
        x=[test_results["Actual"].min(), test_results["Actual"].max()],
        y=[test_results["Actual"].min(), test_results["Actual"].max()],
        mode="lines",
        line=dict(
            color="#53783b",
            width=3
        ),
        name="Actual"
    )
)

# Update Axes
fig.update_xaxes(title="Actual Values", ticks="outside", linecolor="Black")
fig.update_yaxes(title="Predicted Values", ticks="outside", linecolor="Black")

# Update Layout
fig.update_layout(
    title="Linearity", title_x=0.5, font_family="Cambria",
    width=600, height=600,
    plot_bgcolor="White",
    showlegend=False
)

# Show
fig.show(renderer="iframe_connected")

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "residual-plot"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">3.5. Residual Plot
        <a class="anchor-link" id="residual-plot" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#residual-plot">¶</a>
    </h2>
</div>

In [21]:
test_results["Residual"] = test_results["Actual"] - test_results["Predicted"]

# Create Figure
fig = go.Figure()

# Scatter Plot
fig.add_trace(
    go.Scatter(
        x=test_results["Actual"],
        y=test_results["Residual"],
        mode="markers",
        marker=dict(
            color="#b3c656",
            size=8
        ),
        name="Residual"
    )
)

fig.add_trace(
    go.Scatter(
        x=[test_results["Actual"].min(), test_results["Actual"].max()],
        y=[0.0, 0.0],
        mode="lines",
        line=dict(
            color="#53783b",
            width=3
        ),
        name="Actual"
    )
)

# Update Axes
fig.update_xaxes(title="Demand", ticks="outside", linecolor="Black")
fig.update_yaxes(title="Residual", ticks="outside", linecolor="Black")

# Update Layout
fig.update_layout(
    title="Residual Plot", title_x=0.5, font_family="Cambria",
    width=600, height=600,
    plot_bgcolor="White",
    showlegend=False
)

# Show
fig.show(renderer="iframe_connected")

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #53783b;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h1 id = "price-optimization"
        style = "padding: 13px; 
                 text-align:center;
                 color: White;
                 font-size: 25px;
                 font-weight: bold;
                 font-family: Cambria;">4. Price Optimization
        <a class="anchor-link" id="price-optimization" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#price-optimization">¶</a>
    </h1>
</div>

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "optimal-price"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">4.1. Finding Out Optimal Price
        <a class="anchor-link" id="optimal-price" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#optimal-price">¶</a>
    </h2>
</div>

In [22]:
def get_optimal_price(row):
    best_profits = [0]
    best_prices = -50
    list_demand = []
    list_profit = []

    cal_prices = np.arange(0.83, 3.51, 0.01)
    
    for pri in cal_prices:
        for i in range(len(feature_columns)):
            if(i<4):
                row["{}_AveragePrice".format(feature_columns[i])] = pri * row[feature_columns[i]]
            elif(i==4):
                row["AveragePrice"] = pri
            else:
                row["AveragePrice_{}".format(feature_columns[i])] = pri * row[feature_columns[i]]
                
        demand = lr_poly_model.predict([row])
        if(demand < 0):
            break
        list_demand.append(demand[0])
        profit = (pri - weight_average_unit_2018) * demand
        if(profit > best_profits):
            best_profits = profit
            best_prices = pri
        list_profit.append(profit[0])
    return best_profits[0], best_prices, list_demand, list_profit

In [23]:
test_features_opt = test_features_poly.copy()

all_best = test_features_opt.apply(lambda x: get_optimal_price(x), axis=1)
test_features_opt["Best Profits"] = [x[0] for x in all_best]
test_features_opt["Optimal Price"] = [x[1] for x in all_best]
test_features_opt["List Demand"] = [x[2] for x in all_best]
test_features_opt["List Profit"] = [x[3] for x in all_best]

test_features_opt

,year,month,weekofyear,quarter,AveragePrice,region_California,region_GreatLakes,region_Midsouth,region_Northeast,region_Plains,...,region_Southeast_region_West,region_Southeast_type_conventional,region_Southeast_type_organic,region_West_type_conventional,region_West_type_organic,type_conventional_type_organic,Best Profits,Optimal Price,List Demand,List Profit
0,2018.0,1.0,1.0,1.0,2.96,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.929262e+06,1.89,"[7406240.282662392, 7371310.525081694, 7336380...","[6708.550359822997, 80390.01634039717, 153372...."
1,2018.0,1.0,1.0,1.0,1.96,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.243600e+05,1.39,"[1149659.6646049619, 1139456.4360186458, 11292...","[1041.3582954787823, 12426.680601641656, 23607..."
2,2018.0,1.0,1.0,1.0,2.61,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.091379e+06,1.72,"[4697686.841786385, 4671279.962342143, 4644873...","[4255.150731009355, 50944.03108178554, 97104.7..."
3,2018.0,1.0,1.0,1.0,3.19,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.340747e+05,2.01,"[396497.6004399657, 394817.24999022484, 393136...","[359.1463439725586, 4305.796787448877, 8218.84..."
4,2018.0,1.0,1.0,1.0,2.44,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.753977e+06,1.63,"[4363038.462370217, 4335875.376193464, 4308712...","[3952.027226982359, 47286.17674646874, 90077.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2018.0,3.0,12.0,1.0,2.11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.833444e+05,1.47,"[884472.4992998242, 877560.4274255037, 870648....","[801.152552033918, 9570.495892199619, 18201.59..."
188,2018.0,3.0,12.0,1.0,2.55,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,2.159091e+06,1.69,"[5025433.717615843, 4996160.417329669, 4966887...","[4552.022873670407, 54487.11137887199, 103836...."
189,2018.0,3.0,12.0,1.0,2.49,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,3.112650e+05,1.66,"[751991.3068295121, 747444.5355377793, 742897....","[681.1514830033839, 8151.478386505326, 15530.8..."
190,2018.0,3.0,12.0,1.0,2.98,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,3.945971e+06,1.90,"[7369143.299715698, 7334709.292975247, 7300275...","[6674.94802330713, 79990.85073244941, 152618.0..."
191,2018.0,3.0,12.0,1.0,2.22,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,4.662550e+05,1.52,"[1344661.9316321611, 1334954.4538861513, 13252...","[1217.9907673814294, 14558.742301851993, 27705..."

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #7b964a;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h2 id = "visualizations"
        style = "padding: 11px; 
                 color: White;
                 font-size: 19px;
                 font-weight: bold;
                 font-family: Cambria;">4.2. Visualizations
        <a class="anchor-link" id="visualizations" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#visualizations">¶</a>
    </h2>
</div>

In [24]:
df_region_code = pd.DataFrame.from_dict({
    "West": ("WA", "OR", "ID", "MT", "WY", "NV", "UT", "CO", "AZ", "NM"),
    "California": ["CA"],
    "SouthCentral": ["OK", "AR", "TX", "LA"],
    "Northeast": ["WV", "MD", "DE", "NJ", "CN", "RI", "MA", "VT", "NH", "NY", "PA", "ME"],
    "Southeast": ["MS", "AL", "GA", "FL"],
    "GreatLakes": ["WI", "IL", "IN", "MI", "OH"],
    "Midsouth": ["KY", "VA", "TN", "MD", "NC", "SC"],
    "Plains": ["ND", "SD", "MN", "NE", "IA", "KS", "MO"],
}, orient='index')

df_region_code = df_region_code.transpose()
df_region_code

,West,California,SouthCentral,Northeast,Southeast,GreatLakes,Midsouth,Plains
0,WA,CA,OK,WV,MS,WI,KY,ND
1,OR,None,AR,MD,AL,IL,VA,SD
2,ID,None,TX,DE,GA,IN,TN,MN
3,MT,None,LA,NJ,FL,MI,MD,NE
4,WY,None,None,CN,None,OH,NC,IA
5,NV,None,None,RI,None,None,SC,KS
6,UT,None,None,MA,None,None,None,MO
7,CO,None,None,VT,None,None,None,None
8,AZ,None,None,NH,None,None,None,None
9,NM,None,None,NY,None,None,None,None
10,None,None,None,PA,None,None,None,None
11,None,None,None,ME,None,None,None,None

In [25]:
def date_range(year, week_of_year):
    first_date = datetime.datetime.strptime(f'{year}-W{week_of_year-1}-1', "%Y-W%W-%w").date()
    last_date = first_date + datetime.timedelta(days=6.9)
    
    first_date = first_date.strftime("%d/%m/%Y")
    last_date = last_date.strftime("%d/%m/%Y")
    return first_date, last_date

def optimal_price_plot(unit_region, unit_type, week_of_year):
    # Create DataFrame
    row_train = train_features_poly[
        (train_features_poly["region_{}".format("West")]==1) &
        (train_features_poly["type_{}".format("conventional")]==1)
    ]
    row_train_index = row_train.index.tolist()
    demand_train = train_labels[train_labels.index.isin(row_train_index)]
    
    row_test = test_features_opt[
        (test_features_opt["region_{}".format(unit_region)]==1) &
        (test_features_opt["type_{}".format(unit_type)]==1) &
        (test_features_opt["weekofyear"]==week_of_year)
    ].reset_index(drop=True).iloc[0, :]
    
    first_date, last_date = date_range(2018, int(row_test["weekofyear"]))
    cal_prices = np.arange(0.83, 3.51, 0.01)
    len_data = len(row_test["List Demand"])
    list_demand = row_test["List Demand"]
    list_profit = row_test["List Profit"]

    # Create Subplots
    fig = make_subplots(
        rows=2, cols=6,
        specs=[
            [{"type": "choropleth", "colspan": 2}, None, {"type": "indicator", "colspan": 2}, None, {"type": "indicator", "colspan": 2}, None],
            [{"type": "scatter", "colspan": 3}, None, None, {"type": "scatter", "colspan": 3}, None, None]
        ],
        subplot_titles=["", "", "", "Price vs Demand", "Price vs Profit"], 
        horizontal_spacing=0.10
    )

    # Region Map
    fig.add_trace(
        go.Choropleth(
            locations=df_region_code[unit_region], 
            z=[1] * df_region_code.shape[0],
            locationmode="USA-states",
            colorscale = [[0.0, "#b3c656"], [1.0, "#7b964a"]],
            hoverinfo="skip",
            showscale=False
        ), row=1, col=1
    )

    # Optimal Price Text
    fig.add_trace(
        go.Indicator(
            mode="number",
            value=row_test["Optimal Price"],
            number={"prefix": "$"},
            title={"text": "Optimal Price"}
        ), row=1, col=3
    )

    # Profit Text
    fig.add_trace(
        go.Indicator(
            mode="number",
            value=row_test["Best Profits"],
            number={"prefix": "$"},
            title={"text": "Maximum Profit"}
        ), row=1, col=5
    )

    # Price vs Demand
    fig.add_trace(
        go.Scatter(
            x=cal_prices[:len_data],
            y=list_demand,
            mode="lines",
            line=dict(
                color="#53783b",
                width=4
            ),
            name="Regression Line"
        ), row=2, col=1
    )
    
    fig.add_trace(
        go.Scatter(
            x=row_train["AveragePrice"],
            y=demand_train,
            mode="markers",
            marker=dict(
                color=row_train["year"],
                colorscale=[[0.0, "#fcdb7e"], [0.5, "#b3c656"], [1.0, "#7b964a"]],
                size=8,
            ),
            opacity=0.5,
            hovertemplate='''Price: <b>%{x}</b><br>Demand: <b>%{y}</b><br>Year: <b>%{marker.color}</b><br>''',
            name="Train Data"
        ), row=2, col=1
    )

    # Price vs Profit
    fig.add_trace(
        go.Scatter(
            x=cal_prices[:len_data],
            y=list_profit,
            mode="lines",
            line=dict(
                color="#b3c656",
                width=3.5
            ),
            name="Regression Line"
        ), row=2, col=4
    )
    
    fig.add_trace(
        go.Scatter(
            x=[row_test["Optimal Price"]],
            y=[row_test["Best Profits"]],
            mode="markers",
            marker=dict(
                size=14,
                color="#53783b"
            ),
            name="Optimal Price"
        ), row=2, col=4
    )

    fig.add_shape(
        type="line",
        x0=row_test["Optimal Price"], x1=row_test["Optimal Price"],
        y0=0.0, y1=row_test["Best Profits"],
        xref="x2", yref="y2",
        line=dict(
            color='#53783b',
            width=3,
            dash='dash'
        )
    )
    
    # Update Subplot Title
    fig.layout.annotations[0].update(y=0.57)
    fig.layout.annotations[1].update(y=0.57)
    
    # Update Axes
    fig.update_yaxes(domain=[0.6, 1.0], row=1, col=1)
    fig.update_yaxes(domain=[0.6, 1.0], row=1, col=3)
    fig.update_yaxes(domain=[0.6, 1.0], row=1, col=5)
    fig.update_xaxes(title="Price", showgrid=False, zeroline=False, linecolor="Gray", ticks="outside", row=2, col=1)
    fig.update_yaxes(title="Demand", showgrid=False, zeroline=False, linecolor="Gray", ticks="outside", domain=[0.0, 0.55], row=2, col=1)
    fig.update_xaxes(title="Price", showgrid=False, zeroline=False, linecolor="Gray", ticks="outside", row=2, col=4)
    fig.update_yaxes(title="Profit", showgrid=False, zeroline=False, linecolor="Gray", ticks="outside", domain=[0.0, 0.55], row=2, col=4)
    
    # Update Layout
    fig.update_layout(
        title='<b style="font-size:18px">Price Optimization</b><br><b style="font-size:13px">Region : {}</b><br><b style="font-size:13px">Type : {}</b><br><b style="font-size:13px">Date : {} - {}</b>'.format(unit_region, unit_type.capitalize(), first_date, last_date),
        title_x=0.5, title_y=0.97, font_family="Cambria",
        width=900, height=600,
        showlegend=False,
        plot_bgcolor="White",
        paper_bgcolor="White",
        geo=dict(
            scope="usa"
        ),
        margin_pad=3
    )

    # Show
    fig.show(renderer="iframe_connected")

In [26]:
optimal_price_plot("SouthCentral", "conventional", 1)

In [27]:
optimal_price_plot("California", "conventional", 4)

In [28]:
optimal_price_plot("Midsouth", "organic", 7)

In [29]:
optimal_price_plot("GreatLakes", "conventional", 9)

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #53783b;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h1 id = "notes"
        style = "padding: 13px; 
                 text-align:center;
                 color: White;
                 font-size: 25px;
                 font-weight: bold;
                 font-family: Cambria;">Notes
        <a class="anchor-link" id="notes" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#notes">¶</a>
    </h1>
</div>

<div style="font-size: 15px;
            font-family: Cambria;
            border: 1px solid #d7d7d7;
            padding: 1px 10px 2px;
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
            margin-bottom: 3px;">
    <p>
        ---> The model can predict demand well on the <b>conventional type</b>, but the error rate increases on the <b>organic type</b>.<br>
        ---> For data with <b>Plains region</b> and <b>organic type</b>, there are still errors in demand forecasting. When the price is increased, demand increases instead which should decrease linearly.<br>
        ---> Prior to this, I have tried with other methods like <b>RandomForestRegressor</b> and <b>XGBoostRegressor</b>. When I try, the request result doesn't change when the price is increased at some point and so on. It is still a mystery whether the data is linear or non-linear, more feature engineering, more hyperparameter tuning, alternative models, or something else.</p>
</div>

<div style = "color: Black; 
              display: fill;
              border-radius: 8px;
              background-color: #53783b;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 5px, rgba(0, 0, 0, 0.15) 0px 6px 6px;">
    <h1 id = "references"
        style = "padding: 13px; 
                 text-align:center;
                 color: White;
                 font-size: 25px;
                 font-weight: bold;
                 font-family: Cambria;">References
        <a class="anchor-link" id="references" href="https://www.kaggle.com/code/harits/avocado-demand-forecast-boost-sales-profit#references">¶</a>
    </h1>
</div>

<div style="font-size: 15px;
            font-family: Cambria;
            border: 1px solid #d7d7d7;
            padding: 1px 10px 2px;
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
            margin-bottom: 3px;">
    <u>Hass Avocado Size</u>: <a href="https://loveonetoday.com/how-to/identify-hass-avocados/"><u>https://loveonetoday.com/how-to/identify-hass-avocados</u></a><br>
    <u>Avocado Price Growth in USA (2015-2017)</u>: <a href="https://www.producebluebook.com/2019/02/11/avocado-price-growth-slows"><u>https://www.producebluebook.com/2019/02/11/avocado-price-growth-slows</u></a><br>
    <u>General Avocado Size</u>: <a href="https://www.fruigees.com/how-much-does-an-avocado-weigh"><u>https://www.fruigees.com/how-much-does-an-avocado-weigh</u></a>
</div>